@charset "utf-8";

/* PartialSans */
@font-face {
    font-family: 'PartialSans';
    font-weight: 400;
    font-display: swap;
    src: local('PartialSans Regular'),
        url(../font/PartialSansKR-Regular.otf) format('openType'),
}

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'),
        url(../font/Pretendard/Pretendard-Black.woff2) format('woff2'),
        url(../font/Pretendard/Pretendard-Black.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'),
        url(../font/Pretendard/Pretendard-ExtraBold.woff2) format('woff2'),
        url(../font/Pretendard/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'),
        url(../font/Pretendard/Pretendard-Bold.woff2) format('woff2'),
        url(../font/Pretendard/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'),
        url(../font/Pretendard/Pretendard-SemiBold.woff2) format('woff2'),
        url(../font/Pretendard/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'),
        url(../font/Pretendard/Pretendard-Medium.woff2) format('woff2'),
        url(../font/Pretendard/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'),
        url(../font/Pretendard/Pretendard-Regular.woff2) format('woff2'),
        url(../font/Pretendard/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'),
        url(../font/Pretendard/Pretendard-Light.woff2) format('woff2'),
        url(../font/Pretendard/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'),
        url(../font/Pretendard/Pretendard-ExtraLight.woff2) format('woff2'),
        url(../font/Pretendard/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'),
        url(../font/Pretendard/Pretendard-Thin.woff2) format('woff2'),
        url(../font/Pretendard/Pretendard-Thin.woff) format('woff');
}